@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .list-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  .categories-scrollbar::-webkit-scrollbar,
  .categories-options-scrollbar::-webkit-scrollbar {
    height: 8px;
  }

  .list-scrollbar::-webkit-scrollbar-track,
  .categories-scrollbar::-webkit-scrollbar-track,
  .categories-options-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
    padding: 20px;
  }

  .list-scrollbar::-webkit-scrollbar-thumb,
  .categories-scrollbar::-webkit-scrollbar-thumb,
  .categories-options-scrollbar::-webkit-scrollbar-thumb {
    background: whitesmoke;
    border-radius: 100vh;
    border: 2px solid rgb(190, 209, 226, 0.5);
    cursor: pointer;
  }

  .list-scrollbar::-webkit-scrollbar-thumb:hover,
  .categories-scrollbar::-webkit-scrollbar-thumb:hover,
  .categories-options-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(190, 209, 226, 0.5);
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
  background: linear-gradient(to right, rgb(243, 213, 151), #f5b2a9);
  transition: background 0.5s ease;
}
body.dark {
  background: linear-gradient(
    170deg,
    rgba(35, 58, 78, 1) 20%,
    rgba(86, 59, 98, 1) 66%,
    rgba(156, 109, 176, 1) 98%
  );
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 236, 220);
  color: #000;
  padding: 10px 20px;
  border-radius: 8px;
  height: 300px;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input[type="number"]::outer-spin-button,
input[type="number"]::inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
